<%- include("header"); -%>
<div class="box" id="heading">
  <h1><%= appTitle %></h1>
</div>

<div class="box">
  <% items.forEach(function(item) { %>
  <form onsubmit="return false;">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange=""/>
      <p><%=item.itemName%></p>
    </div>
    <input type="hidden" name="listName" value="<%= appTitle %>"></input>
  </form>
  <% }) %>

  <form onsubmit="return false;" class="item inputText">
    <input type="text" name="nextItem" placeholder="New Item" autocomplete="off"/>
    <button type="submit" name="button" value="<%= appTitle %>">
      <span class="material-icons">add</span>
    </button>
  </form>
</div>
<%- include("footer"); -%>
