<%- include("header"); -%>
<div class="box" id="heading">
  <h1><%= appTitle %></h1>
</div>

<div class="box">

  <% items.forEach(function(item) { %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()"/>
      <p><%=item.itemName%></p>
    </div>
    <input type="hidden" name="listName" value="<%= appTitle %>"></input>
  </form>
  <% }) %>

  <form class="item inputText" action="/" method="post">
    <input type="text" name="nextItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="button" value="<%= appTitle %>">+</button>
  </form>
</div>
<%- include("footer"); -%>
